<!-- Footer -->
<footer class="bg-dark py-4">
    <div class="container text-light">
        <span class="float-end"><a href="#">Volver al inicio</a></span>
        <address>
            <strong>Instituto Tecnológico de Costa Rica</strong><br>
            Escuela de Ingeniería en Construcción<br>
            Mecánica del Sólido II<br>
            <br>
            <strong>
                Estudiantes:
            </strong><br>

            Kevin Campos Calvo - 2019007902<br>
            Anthony Rojas Rojas - 2019341805<br>
            Gabriel Solano Solano - 2019184664<br>
            Alejandra Ulate López - 2021005929<br>
            Elian Valerio Navarro - 2019300721<br>
        </address>

    </div>
</footer>