<header>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light py-md-3">
        <div class="container">

            <a class="navbar-brand" href="/">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <img src="/assets/logo.png" alt="Logo" width="200" height="50">
            </div>
        </div>
    </nav>
</header>